@use 'base/mixins';

main.main {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
div.product-grid {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: auto;
 grid-gap: 5px;
@include mobile {
   grid-template-columns: repeat(2, 1fr);
 }
}
