  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="logo-ionic"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="store">
      <ion-icon name="storefront-outline"></ion-icon>
      Store
    </ion-tab-button>
        <ion-badge color="danger" class="simpleCart_quantity count_cart"></ion-badge>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      Account
    </ion-tab-button>
  </ion-tab-bar>
<style type="text/css">
  ion-badge.simpleCart_quantity {
    position: absolute;
    top: 4px;
    width: 20px;
    border-radius: 50%;
    font-size: small;
    padding: 4px 4px;
    text-align: center;
}
</style>