<ion-modal id="loginModal">
  <ion-header>
    <ion-toolbar>
      <ion-title>Login/Register</ion-title>
      <ion-buttons slot="end">
        <ion-button onclick="dismissModal()">Tutup</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-input id="email" placeholder="Email" type="email"></ion-input>
    <ion-input id="password" placeholder="Password" type="password"></ion-input>
    <ion-button expand="full" onclick="register()">Register</ion-button>
    <ion-button expand="full" onclick="login()">Login</ion-button>
    <ion-button expand="full" onclick="logout()">Logout</ion-button>
    <div id="user-info"></div>
  </ion-content>
</ion-modal>