<script src="{{ '/assets/js/vemsCart.js?version=2.2' | relative_url }}"></script>
<script async src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script async src="{{ '/assets/js/style-picker.js' | relative_url }}"></script>
<script async src="{{ '/assets/js/add-to-cart.js' | relative_url }}"></script>

<script>
function showAlert(message, header = "Info") {
  const alert = document.getElementById('globalAlert');
  if (alert) {
    alert.header = header;
    alert.message = message;
    alert.buttons = ['OK'];
    alert.present();
  }
}

{% unless pages.url == '/sukses' %}
    let backPressCount = 0;
    let backPressTimeout;

    async function showToast(message) {
      const toast = document.createElement('ion-toast');
      toast.message = message;
      toast.duration = 2000;
      document.body.appendChild(toast);
      await toast.present();
    }

    window.history.pushState(null, null, location.href);

    window.addEventListener('popstate', function(event) {
      if (backPressCount === 0) {
        backPressCount++;
        showToast('Tekan sekali lagi untuk keluar.');

        window.history.pushState(null, null, location.href);

        backPressTimeout = setTimeout(() => {
          backPressCount = 0;
        }, 2000);

      } else {
        clearTimeout(backPressTimeout);
        if (window.navigator.app) {
            window.navigator.app.exitApp();
        } else {
            window.location.href = '/'; 
        }
      }
    });
{% endunless %}
</script>
    