<script src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/simpleCart.js?version=1.2"></script>
<script async src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/main.js"></script>
<script async src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/style-picker.js"></script>
<script async src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/add-to-cart.js"></script>
<script src="{{ '/assets/js/app.js' | relative_url }}"></script>
    