<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id | ID' }}">

  {% include head.html %}

  <body>
<script type="module">
  const firebaseConfig = {
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
  apiKey: "{{ site.API_KEY }}",
  authDomain: "{{ site.AUTH_DOMAIN }}",
  projectId: "{{ site.PROJECT_ID }}",
  storageBucket: "{{ site.STORAGE_BUCKET }}",
  messagingSenderId: "{{ site.SENDER_ID }}",
  appId: "{{ site.APP_ID }}","
  };
  firebase.initializeApp(firebaseConfig);
</script>
	<ion-app>
		<ion-tabs>
			  {{ content }}
		</ion-tabs>

    {% include modals.html %}

  <ion-chip slot="fixed" [disabled]="true" style="width:fit-content;bottom:60px;left:5px;position:absolute;display:none;visibility:hidden;">
    <ion-icon name="person-circle-outline"></ion-icon>
  <ion-label><span id="text_dev">{{ site.dev}}</span></ion-label>
  </ion-chip>
	</ion-app>
	
<ion-alert
  id="globalAlert"
  header="Info"
  message=""
  buttons="OK"
></ion-alert>

{% include scriptjs.html %}
  </body>
</html>
