<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id | ID' }}">

  {% include head.html %}

  <body>
<script type="module">
  const firebaseConfig = {
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
  apiKey: "AIzaSyB86QS4Odynfe1QDBXQgkkgO9JDFQylbBw",
  authDomain: "vems-shop.firebaseapp.com",
  projectId: "vems-shop",
  storageBucket: "vems-shop.firebasestorage.app",
  messagingSenderId: "949843856547",
  appId: "1:949843856547:web:cdd41e46b2c9e2d3500316",
  measurementId: "G-QJL8KV95KB"
  };
  firebase.initializeApp(firebaseConfig);
</script>
	<ion-app>
		<ion-tabs>
			  {{ content }}
		</ion-tabs>

    {% include modals.html %}

  <ion-chip slot="fixed" [disabled]="true" style="width:fit-content;bottom:60px;left:5px;position:absolute;display:none;visibility:hidden;">
    <ion-icon name="person-circle-outline"></ion-icon>
  <ion-label><span id="text_dev">{{ site.dev}}</span></ion-label>
  </ion-chip>
	</ion-app>
	
<ion-alert
  id="globalAlert"
  header="Info"
  message=""
  buttons="OK"
></ion-alert>

{% include scriptjs.html %}
  </body>
</html>
