@use 'mixins' as *;

html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
} 

ion-content.ion-no-padding {
    --offset-top: 0px !important;
    --offset-bottom: auto !important;
	@include mobile {
    --offset-top: 0px !important;
	}
}